<launch>

    <!-- Arguments -->
    
    <!-- Initial position in Gazebo -->

    <!--ROBOT-->
    <arg name="prefix" 		  default=""/>
    <arg name="name" 		    default="symphony"/>
    <arg name="symphony_type" 	default="symphony5"/>
    <arg name="rviz" 	      default="false"/>
    <!-- <arg name="gripper" default="none"> -->
    <arg name="gripper" default="none"/>

    <include file="$(find symphony_description)/launch/symphony_description.launch">
      <arg name="prefix"      value="$(arg prefix)"/>
      <arg name="name" 	      value="$(arg name)"/>
      <arg name="symphony_type" 	value="$(arg symphony_type)"/>
      <arg name="rviz" 		    value="$(arg rviz)"/>
      <arg name="sim_gazebo"  default="true"/>
      <arg name="joint_state" default="false"/>
      <arg name="gripper" value="$(arg gripper)"/>
    </include>

    <!--GAZEBO-->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
      
    <!-- Start Gazebo -->
  <include file="$(find symphony_pnp)/launch/empty_world.launch">
    <arg name="world_name" default="$(find symphony_pnp)/worlds/gripper.world"/>
    <param name="physics/max_step_size" value="0.0005"/>
    <param name="physics/real_time_update_rate" value="500"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

    <!-- Spawn a URDF robot -->
  <arg name="robot_name"  default="/"/>
  <arg name="x"           default="0.0"/>
  <arg name="y"           default="0.0"/>
  <arg name="z"           default="0.0"/>
  <arg name="yaw"         default="0.0"/>
  <!-- <arg name="tf_prefix"   default=""/> -->

  <!-- Workpiece Model -->

  <group ns="box1">
    <param name="robot_description" command="$(find xacro)/xacro '$(find symphony_pnp)/models/box.xacro'" />
      
    <node name="urdf_spawner1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"  args="-urdf -model box -param robot_description -x 0.2 -y 0.0 -z 0.0"/> 
  </group>

  <group ns="box2">
    <param name="robot_description" command="$(find xacro)/xacro '$(find symphony_pnp)/models/box2.xacro'" />
      
    <node name="urdf_spawner2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model box2 -param robot_description -x 0.2 -y 0.0 -z 0.0"/> 
  </group>


  <group ns="box3">
    <param name="robot_description" command="$(find xacro)/xacro '$(find symphony_pnp)/models/box3.xacro'" />
      
    <node name="urdf_spawner3" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model box3 -param robot_description -x 0.2 -y 0.0 -z 0.0"/> 
  </group>

<group ns="box4">
    <param name="robot_description" command="$(find xacro)/xacro '$(find symphony_pnp)/models/box4.xacro'" />
      
    <node name="urdf_spawner4" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model box4 -param robot_description -x 0.2 -y 0.0 -z 0.0"/> 
  </group>

<group ns="box5">
    <param name="robot_description" command="$(find xacro)/xacro '$(find symphony_pnp)/models/box5.xacro'" />
      
    <node name="urdf_spawner5" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model box5 -param robot_description -x 0.2 -y 0.0 -z 0.0"/> 
  </group>

<group ns="box6">
    <param name="robot_description" command="$(find xacro)/xacro '$(find symphony_pnp)/models/box6.xacro'" />
      
    <node name="urdf_spawner6" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model box6 -param robot_description -x 0.2 -y 0.0 -z 0.0"/> 
  </group>

  <group ns="cylinder1">
    <param name="robot_description" command="$(find xacro)/xacro '$(find symphony_pnp)/models/cylinder1.xacro'" />
      
    <node name="urdf_spawner7" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model cylinder1 -param robot_description -x 0.2 -y 0.0 -z 0.0"/> 
  </group>

  <group ns="triangle">
    <param name="robot_description" command="$(find xacro)/xacro '$(find symphony_pnp)/models/triangle.xacro'" />
      
    <node name="urdf_spawner8" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model triangle -param robot_description -x 0.2 -y 0.0 -z 0.0"/> 
  </group>

  <group ns="case">
    <param name="robot_description" command="$(find xacro)/xacro '$(find symphony_pnp)/models/case.xacro'" />
      
    <node name="urdf_spawner9" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model case -param robot_description -x 0.0 -y 0.2 -z 0.0"/> 
  </group>
    <!-- Spawn a URDF robot -->

    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
      args="-urdf 
            -param /robot_description 
            -model $(arg robot_name) 
            -x $(arg x)
            -y $(arg y)
            -z $(arg z)
            -Y $(arg yaw)
            -J joint0 0.0 -J joint1 -2.03 -J joint2 1.58 -J joint3 -1.19 -J joint4 -1.58 -J joint5 0.0" />

    <!-- Controller file -->
    <group if="$(eval arg('symphony_type') == 'symphony5')">
      <rosparam file="$(find symphony_gazebo)/controller/symphony_controller_6dof.yaml" command="load"/>
    </group>

    #TODO
    <group if="$(eval arg('gripper') == 'robotiq_2f' and arg('symphony_type') == 'symphony5')">
      <rosparam file="$(find symphony_gazebo)/controller/symphony_controller_6dof_gripper.yaml" command="load"/>
    </group>

    #TODO
    <!-- <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
      args="joint_state_controller joint_trajectory_controller"/> -->
    <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
      args="joint_state_controller joint_trajectory_controller
      gripper_controller"/>
    
    <!-- for servoing -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" 
        args="load joint_group_position_controller robotiq_mimic_joint_controller"/>

    <!-- moveit -->
  <!-- <group ns="$(arg robot_name)"> -->
    <arg name="db" default="false" />
    <arg name="db_path" default="$(find symphony_moveit)/default_warehouse_mongo_db" />
    <include file="$(find symphony_moveit)/launch/default_warehouse_db.launch" if="$(arg db)">
      <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
    </include>
    
    <include file="$(find symphony_moveit)/launch/move_group.launch" > 
      <arg name="prefix" 		  value="$(arg prefix)"/>
      <arg name="name" 		    value="$(arg name)"/>
      <arg name="symphony_type" 	value="$(arg symphony_type)"/>
      <arg name="sim_gazebo" 	default="true"/>
      <arg name="gripper" value="$(arg gripper)"/>
    </include>

  <!-- </group> -->

  <!-- <arg name="db" default="false" />
  <arg name="db_path" default="$(find symphony_moveit)/default_warehouse_mongo_db" />
  <include file="$(find symphony_moveit)/launch/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

  <param name="$(arg robot_name)/robot_description" command="$(find xacro)/xacro '$(find symphony_description)/urdf/symphony.urdf.xacro'" />
  <param name="$(arg robot_name)/robot_description_semantic" command="$(find xacro)/xacro '$(find symphony_moveit)/config/symphony.srdf.xacro'" />

  <include file="$(find symphony_moveit)/launch/move_group.launch"> 
    <arg name="prefix" value="$(arg prefix)"/>
    <arg name="name" value="$(arg name)"/>
    <arg name="symphony_type" value="$(arg symphony_type)"/>
    <arg name="sim_gazebo" value="true"/>
    <arg name="gripper" value="$(arg gripper)"/>
  </include> -->

</launch>