<?xml version="1.0"?>

<launch>

  <!--warehouse-->
  <arg name="db" default="false" />
  <arg name="db_path" default="$(find symphony_moveit)/default_warehouse_mongo_db" />
  <include file="$(find symphony_moveit)/launch/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

  <!--move group for gazebo-->
	<arg name="prefix" 		  default=""/>
	<arg name="name" 		    default="symphony"/>
  <arg name="symphony_type" 	default="symphony5"/>
  <arg name="gripper" default="none"/>

  <include file="$(find symphony_moveit)/launch/move_group.launch" > 
    <arg name="prefix" 		  value="$(arg prefix)"/>
    <arg name="name" 		    value="$(arg name)"/>
    <arg name="symphony_type" 	value="$(arg symphony_type)"/>
    <arg name="sim_gazebo" 	default="true"/>
    <arg name="gripper" value="$(arg gripper)"/>
  </include>

  <!--rviz-->
  <include file="$(find symphony_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>